java/api-schemas/rest-api-schemas/src/main/resources/etc/1.5/schemas/vcloud/disk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
api-extension-template-vcloud-director
Copyright © 2013-2018 VMware, Inc. All rights reserved.
SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:meta="http://www.vmware.com/vcloud/meta"
           jaxb:version="2.0"
           jaxb:extensionBindingPrefixes="meta"
           elementFormDefault="qualified"
           targetNamespace="http://www.vmware.com/vcloud/v1.5"
           version="2.0">

    <xs:include schemaLocation="common.xsd" />
    <xs:include schemaLocation="resourceEntity.xsd" />
    <xs:include schemaLocation="vApp.xsd" />

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud Disk entity.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="Disk" type="DiskType" />
    <xs:complexType name="DiskType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1"/>
                <meta:content-type>application/vnd.vmware.vcloud.disk</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an independent disk.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ResourceEntityType">
                <xs:sequence>
                    <xs:element name="StorageProfile" type="ReferenceType"  minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Storage profile of the disk.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Owner" type="OwnerType" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The owner of the disk.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="size" type="xs:long" use="required">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Size of the disk in bytes.&lt;br&gt;
                            &lt;br&gt;
                            You must supply this attribute in an update request,
                            but you cannot change its value after the object has
                            been created.
                        </xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="iops" type="xs:long" use="optional">
                    <xs:annotation>
                    <xs:appinfo><meta:version added-in="9.0"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                           IOPS request for the created disk
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="busType" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Disk bus type expressed as a number. One of:&lt;br&gt;
                            &lt;b&gt;5&lt;/b&gt; IDE bus&lt;br&gt;
                            &lt;b&gt;6&lt;/b&gt; SCSI bus (default)&lt;br&gt;
                            &lt;b&gt;20&lt;/b&gt;   SATA bus&lt;br&gt;
                            &lt;br&gt;
                            You must supply this attribute in an update request,
                            but you cannot change its value after the object has
                            been created.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="busSubType" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                           Disk bus subtype expressed as a string. One of:&lt;br&gt;
                           &quot;&quot; (null)&amp;nbsp;&amp;nbsp;IDE, requires busType 5&lt;br&gt;
                           &lt;b&gt;buslogic&lt;/b&gt;&amp;nbsp;&amp;nbsp;BusLogic Parallel SCSI controller, requires busType 6&lt;br&gt;
                           &lt;b&gt;lsilogic&lt;/b&gt;&amp;nbsp;&amp;nbsp;LSI Logic Parallel SCSI controller, requires busType 6&lt;br&gt;
                           &lt;b&gt;lsilogicsas&lt;/b&gt;&amp;nbsp;&amp;nbsp;LSI Logic SAS SCSI controller, requires busType 6&lt;br&gt;
                           &lt;b&gt;VirtualSCSI&lt;/b&gt;&amp;nbsp;&amp;nbsp;Paravirtual SCSI controller, requires busType 6&lt;br&gt;
                           &lt;b&gt;vmware.sata.ahci&lt;/b&gt;&amp;nbsp;&amp;nbsp;SATA controller, requires busType 20&lt;br&gt;
                           &lt;br&gt;
                           You must supply this attribute in an update request,
                           but you cannot change its value after the object has
                           been created.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="DiskCreateParams" type="DiskCreateParamsType" />
    <xs:complexType name="DiskCreateParamsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1"/>
                <meta:content-type>application/vnd.vmware.vcloud.diskCreateParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Parameters for creating or updating an independent disk.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Disk" type="DiskType">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Parameters for creating or updating an
                                independent disk.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Locality" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                If you supply a reference to a virtual machine,
                                the system will use that information to
                                attempt to optimize access to this disk from
                                that virtual machine.
                                See &lt;a href="http://kb.vmware.com/kb/2105352"&gt;KB 2105352&lt;/a&gt;.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="DiskAttachOrDetachParams" type="DiskAttachOrDetachParamsType"></xs:element>
    <xs:complexType name="DiskAttachOrDetachParamsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1"/>
                <meta:content-type>application/vnd.vmware.vcloud.diskAttachOrDetachParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Parameters for attaching or detaching an independent disk.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Disk" type="ReferenceType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to the disk to attach or detach.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BusNumber" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Bus number on which to place the disk
                                controller. If empty or missing, the system
                                assigns a bus number and a unit number on that
                                bus.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UnitNumber" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Unit number (slot) on the bus specified by
                                BusNumber. Ignored if BusNumber is empty or
                                missing.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
