java/api-schemas/rest-api-schemas/src/main/resources/etc/1.5/schemas/vcloud/hybrid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
api-extension-template-vcloud-director
Copyright © 2013-2018 VMware, Inc. All rights reserved.
SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:meta="http://www.vmware.com/vcloud/meta"
    jaxb:version="2.0" jaxb:extensionBindingPrefixes="meta" elementFormDefault="qualified"
    targetNamespace="http://www.vmware.com/vcloud/v1.5" version="1.0">

    <xs:include schemaLocation="common.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud hybrid services.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="HybridOrg" type="HybridOrgType" />
    <xs:complexType name="HybridOrgType">
         <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6" />
                <meta:content-type>application/vnd.vmware.vcloud.hybridOrg</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Lists links to hybrid operations and entities in the context of an Org.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ToCloudTunnelCreateParams" type="ToCloudTunnelCreateParamsType" />

    <xs:complexType name="ToCloudTunnelCreateParamsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6"/>
                <meta:content-type>application/vnd.vmware.vcloud.toCloudTunnelCreateParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">Parameters for creating to-the-cloud tunnel</xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="TrafficType" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation xml:lang="en">Opaque string indicating the type of traffic (for example, "HBR")</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DestinationId" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation xml:lang="en">Opaque string identifying the destination server in the cloud</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SourceId" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                                <xs:documentation source="since">6.0</xs:documentation>
                                <xs:documentation source="modifiable">create</xs:documentation>
                                <xs:documentation xml:lang="en">A UUID identifying the vCTA on-premise</xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>

    <xs:element name="ToCloudTunnel" type="ToCloudTunnelType" />

    <xs:complexType name="ToCloudTunnelType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6"/>
                <meta:content-type>application/vnd.vmware.vcloud.toCloudTunnel</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Describes to-the-cloud tunnel
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="TrafficType" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Opaque string indicating the type of traffic (for example, "HBR")
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DestinationId" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Opaque string identifying the destination server in the cloud
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SourceId" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                                <xs:documentation source="since">6.0</xs:documentation>
                                <xs:documentation source="modifiable">create</xs:documentation>
                                <xs:documentation xml:lang="en">A UUID identifying the vCTA on-premise</xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>

    <xs:element name="AdminToCloudTunnel" type="AdminToCloudTunnelType" />

    <xs:complexType name="AdminToCloudTunnelType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6"/>
                <meta:content-type>application/vnd.vmware.vcloud.admin.toCloudTunnel</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Describes the administrator view of a to-the-cloud tunnel
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ToCloudTunnelType">
                <xs:sequence>
                    <xs:element name="DestinationIpAddress" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The IP address of the destination server in the cloud 
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DestinationPort" type="xs:int">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The port number of the destination server in the cloud
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="useSsl" type="xs:boolean">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Whether SSL protocol is used by the destination server in the cloud
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>

    <xs:element name="FromCloudTunnelCreateParams" type="FromCloudTunnelCreateParamsType" />

    <xs:complexType name="FromCloudTunnelCreateParamsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="6.0"/>
                <meta:content-type>application/vnd.vmware.vcloud.fromCloudTunnelCreateParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">6.0</xs:documentation>
            <xs:documentation xml:lang="en">Parameters for creating from-the-cloud tunnel</xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="TrafficType" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                            <xs:documentation source="since">6.0</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation xml:lang="en">Opaque string indicating the type of traffic (for example, "HBR")</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DestinationId" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                            <xs:documentation source="since">6.0</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation xml:lang="en">Opaque string identifying the destination server on tenant premises</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EndpointTag" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                                <xs:documentation source="since">6.0</xs:documentation>
                                <xs:documentation source="modifiable">create</xs:documentation>
                                <xs:documentation xml:lang="en">Opaque string identifying if a tunnel can have a shared port.
                                If this value is not set, then the tunnel will be assigned an unique port </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SourceId" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                                <xs:documentation source="since">6.0</xs:documentation>
                                <xs:documentation source="modifiable">create</xs:documentation>
                                <xs:documentation xml:lang="en">A UUID identifying the vCTA on-premise</xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>

    <xs:element name="FromCloudTunnel" type="FromCloudTunnelType" />

    <xs:complexType name="FromCloudTunnelType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="6.0"/>
                <meta:content-type>application/vnd.vmware.vcloud.fromCloudTunnel</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">6.0</xs:documentation>
            <xs:documentation xml:lang="en">
                Describes from-the-cloud tunnel
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="TrafficType" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                            <xs:documentation source="since">6.0</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Opaque string indicating the type of traffic (for example, "HBR")
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DestinationId" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                            <xs:documentation source="since">6.0</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Opaque string identifying the destination server on tenant premises
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EndpointTag" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                            <xs:documentation source="since">6.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">Opaque string identifying if a tunnel can have a shared port.
                            If this value is not set, then the tunnel will be assigned an unique port </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SourceId" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                                <xs:documentation source="since">6.0</xs:documentation>
                                <xs:documentation source="modifiable">create</xs:documentation>
                                <xs:documentation xml:lang="en">A UUID identifying the vCTA on-premise</xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>

    <xs:element name="AdminFromCloudTunnel" type="AdminFromCloudTunnelType" />

    <xs:complexType name="AdminFromCloudTunnelType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="6.0"/>
                <meta:content-type>application/vnd.vmware.vcloud.admin.fromCloudTunnel</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">6.0</xs:documentation>
            <xs:documentation xml:lang="en">
                Describes the administrator view of a from-the-cloud tunnel
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="FromCloudTunnelType">
                <xs:sequence>
                    <xs:element name="TunnelEndPoint" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                            <xs:documentation source="since">6.0</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">IP address and port to access the tunnel in the form of [ip-address]:[port].</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:group name="FromCloudTunnelListenerProperties">
        <xs:sequence>
            <xs:element name="Port" type="xs:int">
                <xs:annotation>
                    <xs:appinfo>
                        <meta:version added-in="6.0" />
                    </xs:appinfo>
                    <xs:documentation source="since">6.0</xs:documentation>
                    <xs:documentation source="modifiable">create</xs:documentation>
                    <xs:documentation xml:lang="en">
                        The port number of the from-the-cloud tunnel listener
                    </xs:documentation>
                    <xs:documentation source="required">true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TrafficType" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <meta:version added-in="6.0" />
                    </xs:appinfo>
                    <xs:documentation source="since">6.0</xs:documentation>
                    <xs:documentation source="modifiable">create</xs:documentation>
                    <xs:documentation xml:lang="en">
                        An opaque string indicating the type of traffic (for example, HBR)
                    </xs:documentation>
                    <xs:documentation source="required">true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndpointTag" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <meta:version added-in="6.0" />
                    </xs:appinfo>
                    <xs:documentation source="since">6.0</xs:documentation>
                    <xs:documentation source="modifiable">create</xs:documentation>
                    <xs:documentation xml:lang="en">Optional opaque string
                        used in identifying a shared port for the tunnel.
                        A shared port is associated with a (traffic type, endpoint tag) tuple.
                    </xs:documentation>
                    <xs:documentation source="required">false
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>

    <xs:element name="FromCloudTunnelListenerCreateParams" type="FromCloudTunnelListenerCreateParamsType" />

    <xs:complexType name="FromCloudTunnelListenerCreateParamsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="6.0"/>
                <meta:content-type>application/vnd.vmware.vcloud.fromCloudTunnelListenerCreateParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">6.0</xs:documentation>
            <xs:documentation xml:lang="en">Parameters for creating from-the-cloud tunnel listener</xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:group ref="FromCloudTunnelListenerProperties" />
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>

	<xs:element name="FromCloudTunnelListener" type="FromCloudTunnelListenerType" />

	<xs:complexType name="FromCloudTunnelListenerType">
		<xs:annotation>
			<xs:appinfo>
				<meta:version added-in="6.0" />
				<meta:content-type>application/vnd.vmware.vcloud.fromCloudTunnelListener</meta:content-type>
			</xs:appinfo>
			<xs:documentation source="internal" />
			<xs:documentation source="since">6.0</xs:documentation>
			<xs:documentation xml:lang="en">
				Properties of a from-the-cloud tunnel listener. A from-the-cloud listener associates
				a port with a particular (traffic type, endpoint tag) tuple. Ports are unique and
				(traffic type, endpoint tag) tuples are unique.
			</xs:documentation>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="EntityType">
				<xs:sequence>
					<xs:group ref="FromCloudTunnelListenerProperties" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="FromCloudTunnelListenerList" type="FromCloudTunnelListenerListType" />

	<xs:complexType name="FromCloudTunnelListenerListType">
		<xs:annotation>
			<xs:appinfo>
				<meta:version added-in="6.0" />
				<meta:content-type>application/vnd.vmware.vcloud.fromCloudTunnelListenerList</meta:content-type>
			</xs:appinfo>
			<xs:documentation source="internal" />
			<xs:documentation source="since">6.0</xs:documentation>
			<xs:documentation xml:lang="en">
				A list of the existing from-the-cloud tunnel listeners.
			</xs:documentation>
		</xs:annotation>

		<xs:complexContent>
			<xs:extension base="ContainerType">
				<xs:sequence>
					<xs:element name="FromCloudTunnelListener" type="FromCloudTunnelListenerType"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<meta:version added-in="6.0" />
							</xs:appinfo>
							<xs:documentation source="since">6.0</xs:documentation>
							<xs:documentation source="modifiable">none</xs:documentation>
							<xs:documentation xml:lang="en">From-the-cloud tunnel
								listener
							</xs:documentation>
							<xs:documentation source="required">false
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:element name="HybridTicket" type="HybridTicketType" />

    <xs:complexType name="HybridTicketType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6"/>
                <meta:content-type>application/vnd.vmware.vcloud.hybridTicket</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Ticket for establishing a connection to Cloud Proxy.
            </xs:documentation>
        </xs:annotation>

        <xs:simpleContent>
            <xs:extension base="xs:string" />
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="TunnelingApplicationRegisterParams" type="TunnelingApplicationRegisterParamsType" />

    <xs:complexType name="TunnelingApplicationRegisterParamsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6" />
                <meta:content-type>application/vnd.vmware.vcloud.tunnelingApplicationRegisterParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Parameters for registering cloud part of the tunneling application.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="TrafficType" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Opaque string identifying the type of traffic supported by the tunneling application
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RoutingKey" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                AMQP routing key for this tunneling application
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Exchange" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                AMQP exchange that messages for this tunneling application are published to
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="TunnelingApplication" type="TunnelingApplicationType" />

    <xs:complexType name="TunnelingApplicationType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6" />
                <meta:content-type>application/vnd.vmware.vcloud.tunnelingApplication</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Describes cloud part of a tunneling application registered with VCD.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="TrafficType" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Opaque string identifying the type of traffic supported by the tunneling application
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RoutingKey" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                AMQP routing key for this tunneling application
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Exchange" type="xs:string">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                AMQP exchange that messages for this tunneling application are published to
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="TunnelingApplicationList" type="TunnelingApplicationListType" />

    <xs:complexType name="TunnelingApplicationListType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6" />
                <meta:content-type>application/vnd.vmware.vcloud.tunnelingApplicationList</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                A list of registered tunneling applications.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ContainerType">
                <xs:sequence>
                    <xs:element name="TunnelingApplication" type="TunnelingApplicationType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">Tunneling application</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="HybridSettings" type="HybridSettingsType" />

    <xs:complexType name="HybridSettingsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6" />
                <meta:content-type>application/vnd.vmware.vcloud.hybridSettings</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="internal" />
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Public URL and certificate of the Cloud Proxy end point.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="CloudProxyBaseUri" type="xs:string" minOccurs="0"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="5.6" />
                            </xs:appinfo>
                            <xs:documentation source="modifiable">none
                            </xs:documentation>
                            <xs:documentation xml:lang="en">
                                Effective base URI for Cloud Proxy (wss) endpoint. By default this value is the same as the
                                base URI for API endpoint. This value can be overridden by
                                specifying CloudProxyBaseUriOverride.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CloudProxyBaseUriPublicCertChain" type="xs:string"
                        minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="5.6" />
                            </xs:appinfo>
                            <xs:documentation source="modifiable">none
                            </xs:documentation>
                            <xs:documentation xml:lang="en">
                                Effective SSL public certificate chain for the effective base URI for Cloud Proxy (wss)
                                endpoint. The certificate chain is PEM encoded X.509 certificates.
                                By default this value is the same as the public certificate chain
                                for the API endpoint. This value can be overridden by specifying
                                CloudProxyBaseUriPublicCertChainOverride. This value will be empty if URI is overridden but certificate is not.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CloudProxyBaseUriOverride" type="xs:string"
                        minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="5.6" />
                            </xs:appinfo>
                            <xs:documentation source="modifiable">always
                            </xs:documentation>
                            <xs:documentation xml:lang="en">
                                Base URI for Cloud Proxy (wss) endpoint. Leave empty to use the default.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CloudProxyBaseUriPublicCertChainOverride" type="xs:string"
                        minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="5.6" />
                            </xs:appinfo>
                            <xs:documentation source="modifiable">always
                            </xs:documentation>
                            <xs:documentation xml:lang="en">
                                SSL public certificate chain for the base URI for Cloud Proxy (wss)
                                endpoint. The certificate chain must be PEM encoded X.509 certificates. A Base URI override
                                must be specified if this value
                                is included in a request.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CloudProxyFromCloudTunnelHost" type="xs:string" minOccurs="0"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="6.0" />
                            </xs:appinfo>
                            <xs:documentation source="modifiable">none
                            </xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP address or hostname of the effective host used for from-the-cloud tunnels.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CloudProxyFromCloudTunnelHostOverride" type="xs:string" minOccurs="0"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="6.0" />
                            </xs:appinfo>
                            <xs:documentation source="modifiable">none
                            </xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP address or hostname of the host used for from-the-cloud tunnels. Leave empty to use default.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
