java/api-schemas/rest-api-schemas/src/main/resources/etc/1.5/schemas/vcloud/metrics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
api-extension-template-vcloud-director
Copyright © 2013-2018 VMware, Inc. All rights reserved.
SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:meta="http://www.vmware.com/vcloud/meta"
           jaxb:version="2.0"
           jaxb:extensionBindingPrefixes="meta"
           elementFormDefault="qualified"
           targetNamespace="http://www.vmware.com/vcloud/v1.5"
           version="1.0">
    <xs:include schemaLocation="common.xsd"/>
    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the metric-related data.
        </xs:documentation>
    </xs:annotation>

    <xs:simpleType name="TimeUnitType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                An enumeration of time units that can be used to define a relative time
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="second" />
            <xs:enumeration value="minute" />
            <xs:enumeration value="hour" />
            <xs:enumeration value="day" />
            <xs:enumeration value="week" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TimeType" abstract="true"></xs:complexType>

    <xs:complexType name="RelativeTimeType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Specifies an earlier time relative to the current time
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="TimeType">
                <xs:attribute name="interval" type="xs:short" use="required">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                        <xs:documentation source="since">5.6</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                            numeric portion of time specification
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="unit" type="TimeUnitType" use="required">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                        <xs:documentation source="since">5.6</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                            time unit enumeration value
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AbsoluteTimeType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Specifies an absolute time in UTC
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="TimeType">
                <xs:attribute name="time" type="xs:dateTime" use="required">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                        <xs:documentation source="since">5.6</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                            absolute UTC time value
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

     <xs:complexType name="SimpleMetricType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                A simple scalar metric value
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                <xs:documentation source="since">5.6</xs:documentation>
                <xs:documentation source="required">true</xs:documentation>
                <xs:documentation xml:lang="en">
                    name of metric
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unit" type="xs:string" use="required">
            <xs:annotation>
                <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                <xs:documentation source="since">5.6</xs:documentation>
                <xs:documentation source="required">true</xs:documentation>
                <xs:documentation xml:lang="en">
                    Unit of measure for this metric
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                <xs:documentation source="since">5.6</xs:documentation>
                <xs:documentation source="required">true</xs:documentation>
                <xs:documentation xml:lang="en">
                    metric value
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="SampleType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a data point in a metric series
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="timestamp" type="xs:dateTime" use="required"></xs:attribute>
        <xs:attribute name="value" type="xs:decimal" use="required"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="TimeSeriesMetricType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                A sequence of metric values measured at specified times
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sample" type="SampleType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                <xs:documentation source="since">5.6</xs:documentation>
                <xs:documentation source="required">true</xs:documentation>
                <xs:documentation xml:lang="en">
                    name of metric
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unit" type="xs:string" use="required">
            <xs:annotation>
                <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                <xs:documentation source="since">5.6</xs:documentation>
                <xs:documentation source="required">true</xs:documentation>
                <xs:documentation xml:lang="en">
                    Unit of measure for this metric
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expectedInterval" type="xs:int" use="required">
            <xs:annotation>
                <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                <xs:documentation source="since">5.6</xs:documentation>
                <xs:documentation source="required">true</xs:documentation>
                <xs:documentation xml:lang="en">
                    Integer number of seconds between samples.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="CurrentUsageSpecType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6" />
                <meta:content-type>application/vnd.vmware.vcloud.metrics.currentUsageSpec</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Specifies which current usage metrics to retrieve
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MetricPattern" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                    <xs:documentation source="since">5.6</xs:documentation>
                    <xs:documentation xml:lang="en">
                        A metric name pattern.  Asterisk matches any character or group of
                        characters in a metric name.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CurrentUsageSpec" type="CurrentUsageSpecType" />

    <xs:complexType name="CurrentUsageType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6" />
                <meta:content-type>application/vnd.vmware.vcloud.metrics.currentUsage</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                A collection of simple metrics representing real time usage statistics
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="Metric" type="SimpleMetricType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CurrentUsage" type="CurrentUsageType" />

    <xs:complexType name="HistoricUsageSpecType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6" />
                <meta:content-type>application/vnd.vmware.vcloud.metrics.historicUsageSpec</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Specifies which historic usage metrics to retrieve
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="AbsoluteStartTime" type="AbsoluteTimeType"></xs:element>
                <xs:element name="RelativeStartTime" type="RelativeTimeType"></xs:element>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="AbsoluteEndTime" type="AbsoluteTimeType"></xs:element>
                <xs:element name="RelativeEndTime" type="RelativeTimeType"></xs:element>
            </xs:choice>
            <xs:element name="MetricPattern" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo><meta:version added-in="5.6" /></xs:appinfo>
                    <xs:documentation source="since">5.6</xs:documentation>
                    <xs:documentation xml:lang="en">
                        A metric name pattern.  Asterisk matches any character or group of
                        characters in a metric name.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="HistoricUsageSpec" type="HistoricUsageSpecType" />

    <xs:complexType name="HistoricUsageType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6" />
                <meta:content-type>application/vnd.vmware.vcloud.metrics.historicUsage</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                A collection of time-based metrics representing historic usage statistics
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="MetricSeries" type="TimeSeriesMetricType" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
          </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="HistoricUsage" type="HistoricUsageType" />
</xs:schema>
