java/api-schemas/rest-api-schemas/src/main/resources/etc/1.5/schemas/vcloud/multiSite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
api-extension-template-vcloud-director
Copyright © 2017-2018 VMware, Inc. All rights reserved.
SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:meta="http://www.vmware.com/vcloud/meta"
    jaxb:version="2.0" jaxb:extensionBindingPrefixes="meta" elementFormDefault="qualified"
    targetNamespace="http://www.vmware.com/vcloud/v1.5" version="1.0">

    <xs:include schemaLocation="common.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud Multisite Types.
        </xs:documentation>
    </xs:annotation>

    <xs:complexType name="MultisiteType" abstract="true" >
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="MULTI_SITE"/>
            </xs:appinfo>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
            <xs:documentation xml:lang="en">
                site  vCloud configuration.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="RestEndpoint" type="xs:anyURI" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The URI of the REST API end-point for the site.
                            </xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="TenantUiEndpoint" type="xs:anyURI" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The URI of the Tenant UI end-point for the site.
                            </xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RestEndpointCertificate" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                 Optional PEM-encoded certificate to use when connecting to the REST API end-point.
                            </xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                  </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Site" type="SiteType" />
    <xs:complexType name="SiteType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="MULTI_SITE"/>
                <meta:content-type>application/vnd.vmware.vcloud.site</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a single site in a multi-site vCloud configuration.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MultisiteType">
                <xs:sequence>
                    <xs:element name="MultiSiteUrl" type="xs:anyURI" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The URL that represents the entire multisite setup.
                            </xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SiteAssociations" type="SiteAssociationsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                List of sites associated with this site.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

   <xs:element name="SiteAssociations" type="SiteAssociationsType">
        <xs:annotation>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SiteAssociationsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="MULTI_SITE"/>
                <meta:content-type>application/vnd.vmware.admin.siteAssociations</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for SiteAssociationType
             </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="SiteAssociationMember" type="SiteAssociationType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to a SiteAssociationType object.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="SiteAssociationMember" type="SiteAssociationType">
        <xs:annotation>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SiteAssociationType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="MULTI_SITE" />
                <meta:content-type>application/vnd.vmware.admin.siteAssociation</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
            <xs:documentation xml:lang="en">
                A reference to another associated site
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="MultisiteType">
                <xs:sequence>
                    <xs:element name="SiteId" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The URN of the remote site
                            </xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SiteName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The name of the remote site
                            </xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PublicKey" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                PEM-encoded public key for the remote site.
                            </xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Status" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Current status of this association. One of:&lt;br&gt;
                                &lt;b&gt;ACTIVE&lt;/b&gt; (The association has been
                                established by both members, and communication with the
                                remote party succeeded.)&lt;br&gt;
                                &lt;b&gt;ASYMMETRIC&lt;/b&gt; (The association has been
                                established at the local site, but the remote party has not
                                yet reciprocated.)&lt;br&gt;
                                &lt;b&gt;UNREACHABLE&lt;/b&gt; (The association has been
                                established by both members, but the remote member is currently
                                unreachable.)
                            </xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="SiteStatus" type="SiteStatusType" />
    <xs:complexType name="SiteStatusType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="MULTI_SITE"/>
                <meta:content-type>application/vnd.vmware.vcloud.siteStatus</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the status of a single site.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence/>
                <xs:attribute name="siteId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                             ID of the site this status represents.
                        </xs:documentation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="siteName" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="IMPROVED_SITE_NAME" /></xs:appinfo>
                        <xs:documentation xml:lang="en">
                             Name of the site this status represents.
                        </xs:documentation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

   <xs:element name="OrgAssociations" type="OrgAssociationsType">
        <xs:annotation>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="OrgAssociationsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="MULTI_SITE"/>
                <meta:content-type>application/vnd.vmware.admin.organizationAssociations</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for OrgAssociationType
             </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="OrgAssociationMember" type="OrgAssociationType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to an organization object.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="OrgAssociationMember" type="OrgAssociationType">
        <xs:annotation>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="OrgAssociationType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="MULTI_SITE" />
                <meta:content-type>application/vnd.vmware.admin.organizationAssociation</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
            <xs:documentation xml:lang="en">
                A reference to another organization
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="SiteId" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The URN of the site that this organization occupies.
                            </xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OrgId" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The URN of the organization with which to associate.
                            </xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SiteName" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The name of the site that the organization occupies.
                            </xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OrgName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The name of the organization with which to associate.
                            </xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OrgPublicKey" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                PEM-encoded public key for this organization.
                            </xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Status" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Current status of this association. One of:&lt;br&gt;
                                &lt;b&gt;ACTIVE&lt;/b&gt; (The association has been
                                established by both members, and communication with the
                                remote party succeeded.)&lt;br&gt;
                                &lt;b&gt;ASYMMETRIC&lt;/b&gt; (The association has been
                                established at the local site, but the remote party has not
                                yet reciprocated.)&lt;br&gt;
                                &lt;b&gt;UNREACHABLE&lt;/b&gt; (The association has been
                                established by both members, but the remote member is currently
                                unreachable.)
                            </xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AuthorizedLocation" type="AuthorizedLocationType"/>
    <xs:complexType name="AuthorizedLocationType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="MULTI_SITE"/>
                <meta:content-type>application/vnd.vmware.vcloud.authorizedLocation</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a vCloud Director server group that this session is authorized to access.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="LocationId" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="JWT_LOGIN_SUPPORT" /></xs:appinfo>
                            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The id of the location. format: orgId@siteId
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LocationName" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation source="deprecated">JWT_LOGIN_SUPPORT</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The name of the location.
                            </xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SiteName" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="JWT_LOGIN_SUPPORT" /></xs:appinfo>
                            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The name of the site.
                            </xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OrgName" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="JWT_LOGIN_SUPPORT" /></xs:appinfo>
                            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The name of the organization.
                            </xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RestApiEndpoint" type="xs:anyURI" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The vCloud API endpoint (RestApiBaseUri) for the location.
                            </xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UIEndpoint" type="xs:anyURI" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The vCloud Director Web Console
                                (SystemExternalHttpAddress) endpoint for the
                                location.
                            </xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UseMultisiteToken" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="MULTI_SITE" /></xs:appinfo>
                            <xs:documentation source="since">MULTI_SITE</xs:documentation>
                            <xs:documentation source="deprecated">JWT_LOGIN_SUPPORT</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the location accepts multisite x-vcloud-authorization token for this user.
                            </xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AuthContext" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="JWT_LOGIN_SUPPORT" /></xs:appinfo>
                            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The auth context for this org
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AuthorizedLocations" type="AuthorizedLocationsType">
        <xs:annotation>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="AuthorizedLocationsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="MULTI_SITE"/>
                <meta:content-type>application/vnd.vmware.authorizedLocations</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">MULTI_SITE</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for AuthorizedLocationType
             </xs:documentation>
        </xs:annotation>
            <xs:sequence>
                <xs:element name="Location" type="AuthorizedLocationType" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="MULTI_SITE"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Authorized location for the user in this session.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
    </xs:complexType>

    <xs:element name="MultisiteSessionUserInfo" type="MultisiteSessionUserInfoType">
        <xs:annotation>
            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="MultisiteSessionUserInfoType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="JWT_LOGIN_SUPPORT" />
                <meta:content-type>application/vnd.vmware.vcloud.multisiteSessionUserInfo</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
            <xs:documentation xml:lang="en">Container for MultisiteSessionUserInfoType</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Username" type="xs:string"
                minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <meta:version added-in="JWT_LOGIN_SUPPORT" />
                    </xs:appinfo>
                    <xs:documentation source="modifiable">none
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Username of the session's user</xs:documentation>
                    <xs:documentation source="required">true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FullName" type="xs:string"
                minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <meta:version added-in="JWT_LOGIN_SUPPORT" />
                    </xs:appinfo>
                    <xs:documentation source="modifiable">none
                    </xs:documentation>
                    <xs:documentation xml:lang="en">Full name of the session's user</xs:documentation>
                    <xs:documentation source="required">true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="xs:string"
                minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <meta:version added-in="JWT_LOGIN_SUPPORT"/>
                    </xs:appinfo>
                    <xs:documentation source="modifiable">none</xs:documentation>
                    <xs:documentation xml:lang="en">Email address for the session's user</xs:documentation>
                    <xs:documentation source="required">true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MemberProviderType" type="xs:string"
                minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <meta:version added-in="JWT_LOGIN_SUPPORT" />
                    </xs:appinfo>
                    <xs:documentation source="modifiable">none</xs:documentation>
                    <xs:documentation xml:lang="en">Provider type of the user</xs:documentation>
                    <xs:documentation source="required">true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdpRecommendedRoles" type="IdpRecommendedRolesType"
                minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <meta:version added-in="JWT_LOGIN_SUPPORT" />
                    </xs:appinfo>
                    <xs:documentation source="modifiable">none</xs:documentation>
                    <xs:documentation xml:lang="en">Role recommended by the IDP</xs:documentation>
                    <xs:documentation source="required">true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdpGroups" type="IdpGroupsType"
                minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <meta:version added-in="JWT_LOGIN_SUPPORT" />
                    </xs:appinfo>
                    <xs:documentation source="modifiable">none</xs:documentation>
                    <xs:documentation xml:lang="en">Groups obtained from the IDP</xs:documentation>
                    <xs:documentation source="required">true</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="IdpRecommendedRoles" type="IdpRecommendedRolesType">
        <xs:annotation>
            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="IdpRecommendedRolesType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="JWT_LOGIN_SUPPORT"/>
                <meta:content-type>application/vnd.vmware.vcloud.IdpRecommendedRoles</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for Idp Recommended Roles
             </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="IdpRecommendedRoles" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="JWT_LOGIN_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                An idp recommended role.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="IdpGroups" type="IdpGroupsType">
        <xs:annotation>
            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="IdpGroupsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="JWT_LOGIN_SUPPORT"/>
                <meta:content-type>application/vnd.vmware.vcloud.IdpGroupsRoles</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">JWT_LOGIN_SUPPORT</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for Idp Groups
             </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="IdpGroups" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="JWT_LOGIN_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                An idp group
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
