java/api-schemas/rest-api-schemas/src/main/resources/etc/1.5/schemas/vcloud/services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
api-extension-template-vcloud-director
Copyright © 2013-2018 VMware, Inc. All rights reserved.
SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:meta="http://www.vmware.com/vcloud/meta"
           jaxb:version="2.0"
           jaxb:extensionBindingPrefixes="meta"
           elementFormDefault="qualified"
           targetNamespace="http://www.vmware.com/vcloud/v1.5"
           version="1.0">

    <xs:include schemaLocation="entity.xsd"/>
    <xs:include schemaLocation="common.xsd"/>
    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud API extensibility objects accessible by authenticated users.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="ApiExtensibility" type="ApiExtensibilityType" />
    <xs:complexType name="ApiExtensibilityType">
         <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.vcloud.apiextensibility</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Lists links to API extensibility operations and entities.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Service" type="ServiceType" />
    <xs:complexType name="ServiceType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.vcloud.service</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Public representation of an external service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="Namespace" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Namespace for the service.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Vendor" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External service vendor.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                 </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ApiDefinition" type="ApiDefinitionType"/>
    <xs:complexType name="ApiDefinitionType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.vcloud.apidefinition</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Representation of an API definition accessible by all authenticated users.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="EntryPoint" type="xs:string" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">none</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    The entry point of the API definition.
                                </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="Namespace" type="xs:string" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">none</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    The namespace of the API definition.
                                </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="ApiVendor" type="xs:string" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">none</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    API definition vendor.
                                </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="SupportedApiVersions" type="VersionsType" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">none</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    List of API versions supported by the
                                    ApiVendor.
                                </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                         </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VersionsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of API versions supported by an ApiVendor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Version" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Single API version supported by an ApiVendor.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="FileDescriptor" type="FileDescriptorType" />
    <xs:complexType name="FileDescriptorType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.vcloud.filedescriptor</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a file required by an extension API definition.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="IdentifiableResourceType">
                <xs:sequence>
                    <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Description for the file descriptor.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="File" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The file descriptor itself (name, type, href).
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
