java/api-schemas/rest-api-schemas/src/main/resources/etc/1.5/schemas/vcloud/vdc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
api-extension-template-vcloud-director
Copyright © 2013-2018 VMware, Inc. All rights reserved.
SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:meta="http://www.vmware.com/vcloud/meta"
           jaxb:version="2.0"
           jaxb:extensionBindingPrefixes="meta"
           elementFormDefault="qualified"
           targetNamespace="http://www.vmware.com/vcloud/v1.5"
           version="1.0">

    <xs:include schemaLocation="common.xsd"/>
    <xs:include schemaLocation="entity.xsd"/>
    <xs:include schemaLocation="network.xsd"/>
    <xs:include schemaLocation="vdcStorageProfile.xsd"/>
    <xs:include schemaLocation="resourceEntity.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud vDC type.
        </xs:documentation>
    </xs:annotation>

    <xs:complexType name="ResourceEntitiesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for references to ResourceEntity objects in this vDC.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ResourceEntity" type="ResourceReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to a ResourceEntity in this vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvailableNetworksType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for references to available organization vDC networks.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Network" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to an organization vDC  network.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VdcsType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of references to vDCs.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Vdc" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to a vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Vdc" type="VdcType"/>
    <xs:complexType name="VdcType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.vcloud.vdc</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the user view of an organization vDC.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="AllocationModel" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The allocation model used by this vDC.
                                One of:&lt;br&gt;
                                &lt;b&gt;AllocationVApp&lt;/b&gt; (Pay as you
                                go. Resources are committed to a vDC only when
                                vApps are created in it. When you use this
                                allocation model, any Limit values you specify
                                for Memory and CPU are ignored on create and
                                returned as 0 on retrieve.)&lt;br&gt;
                                &lt;b&gt;AllocationPool&lt;/b&gt; (Only a
                                percentage of the resources you allocate are
                                committed to the organization vDC.)&lt;br&gt;
                                &lt;b&gt;ReservationPool&lt;/b&gt; (All the
                                resources you allocate are committed as a pool
                                to the organization vDC. vApps in vDCs that
                                support this allocation model can specify
                                values for resource and limit.)
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StorageCapacity" type="CapacityWithUsageType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="1.0" removed-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The storage capacity allocated to this vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ComputeCapacity" type="ComputeCapacityType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The compute capacity allocated to this vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ResourceEntities" type="ResourceEntitiesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only list of resource entities in this vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AvailableNetworks" type="AvailableNetworksType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only list of organization vDC networks in
                                this vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Capabilities" type="CapabilitiesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only list of VM hardware capabilities
                                supported in this vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NicQuota" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Maximum number of virtual NICs allowed in this vDC. Defaults
                                to 0, which specifies an unlimited number.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NetworkQuota" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Maximum number of network objects that can be deployed in this
                                vDC. Defaults to 0, which specifies an unlimited number.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UsedNetworkCount" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="since">5.1</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of networks in use for/by this vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VmQuota" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The quota of VMs that can be created in this vDC. Includes VMs
                                in both vApps and vApp templates, deployed, or otherwise. Defaults
                                to 0, which specifies an unlimited number.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this vDC is enabled for use. Read-only
                                in the user view. Modifiable in the admin view.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VdcStorageProfiles" type="VdcStorageProfilesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Storage profiles supported in this vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VCpuInMhz2" type="xs:long" minOccurs="0" maxOccurs="1">
                        <!--
                            An element similar to this one appears in AdminVdcType (and pre-dates
                            the introduction of this element.  When we wanted to introduce
                            vCPU information in this type, the only way it could be done without
                            breaking backward compatibility (for old consumers of AdminVdcType
                            and/or VdcType) was by introducing a duplicate element here.
                         -->
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.7"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies the clock frequency, in Megahertz,
                                for any virtual CPU that is allocated to a VM.
                                A VM with 2 vCPUs will consume twice as much of this value.
                                Ignored for ReservationPool. Required when AllocationModel
                                is AllocationVApp or AllocationPool, and may not be less than 256 MHz.
                                Defaults to 1000 MHz if the element is empty or missing.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="status" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Creation status of the vDC. One of:&lt;br&gt;
                            0 (The vDC is still being created)&lt;br&gt;
                            1 (The vDC is ready)&lt;br&gt;
                            -1 (There was an error while creating the vDC).
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ComputeCapacityType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents vDC compute capacity.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Cpu" type="CapacityWithUsageType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                CPU capacity and usage.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Memory" type="CapacityWithUsageType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Memory capacity and usage.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CapabilitiesType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Collection of supported hardware capabilities.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="SupportedHardwareVersions" type="SupportedHardwareVersionsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only list of virtual hardware versions
                                supported by this vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupportedHardwareVersionsType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Contains a list of VMware virtual hardware versions supported
                in this vDC.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="SupportedHardwareVersion" type="SupportedHardwareVersionType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A virtual hardware version supported in this
                                vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupportedHardwareVersionBaseType" abstract="true" />

    <xs:complexType name="SupportedHardwareVersionType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a supported virtual hardware version.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent mixed="true">
            <xs:extension base="SupportedHardwareVersionBaseType">
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation source="since">DYNAMIC_HW_VERSION_SUPPORT</xs:documentation>
                        <xs:documentation xml:lang="en">
                            vSphere name of Virtual Hardware Version.
                        </xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="href" type="xs:anyURI" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation source="since">DYNAMIC_HW_VERSION_SUPPORT</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The URI of the entity.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="default" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation source="since">DYNAMIC_HW_VERSION_SUPPORT</xs:documentation>
                        <xs:documentation xml:lang="en">
                          Indicates that this SupportedHardwareVersion should be used as the highest
                          supported hardware version for organization VDCs backed by this Provider VDC.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation source="since">DYNAMIC_HW_VERSION_SUPPORT</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Contains the type of the the entity.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="VirtualHardwareVersion" type="VirtualHardwareVersionType"/>
    <xs:complexType name="VirtualHardwareVersionType">
        <xs:annotation>
            <xs:appinfo>
              <meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/>
              <meta:content-type>application/vnd.vmware.vcloud.virtualHardwareVersion</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">DYNAMIC_HW_VERSION_SUPPORT</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the user view of a virtual hardware version.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="IdentifiableResourceType">
                <xs:sequence>
                  <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                 The name of the entity.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="maxCoresPerSocket" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies the maximum number of cores per socket supported.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="supportedOperatingSystems" type="SupportedOperatingSystemsInfoType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                              Operating systems available for use on virtual machines at this
                              virtual hardware version.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="maxMemorySizeMb" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies the maximum amount of memory supported (in MB).
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="maxCPUs" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies the maximum number of vCPUs supported.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="maxNICs" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies the maximum number of vNICs supported.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="supportsNestedHV" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies nested virtualization is supported.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="supportsHotPlugPCI" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies whether PCI hotplug is supported.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="supportsHotAdd" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies whether the hot-add memory and virtual CPU feature is supported.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="supportedMemorySizeGb" type="xs:long" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies the supported memory sizes (in GB).
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="supportedCoresPerSocket" type="xs:long" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies the supported number of cores per socket combos.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                  </xs:element>
                  <xs:element name="HardDiskAdapter" type="HardDiskAdapterType"
                        minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="DYNAMIC_HW_VERSION_SUPPORT"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                 Supported hard disk controller types.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                  </xs:element>

                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ReservationPoolVdcSummaryType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
            <xs:documentation source="since">ORG_VDC_ROLLUP</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the summary of consumed and reserved memory, CPU, and storage for a
                vDC using the Reservation Pool allocation model.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="MemoryConsumptionMB" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of memory consumed in MB.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MemoryReservationMB" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of memory reserved in MB.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StorageConsumptionMB" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of storage consumed in MB.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CpuReservationMhz" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of CPU reserved in MHz.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CpuConsumptionMhz" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of CPU consumed in MHz.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AllocationPoolVdcSummaryType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
            <xs:documentation source="since">ORG_VDC_ROLLUP</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the summary of consumed and reserved memory, CPU, and storage for a
                vDC using the Allocation Pool allocation model.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="MemoryConsumptionMB" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of memory consumed in MB.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MemoryReservationMB" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of memory reserved in MB.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StorageConsumptionMB" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of storage consumed in MB.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CpuReservationMhz" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of CPU reserved in MHz.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CpuConsumptionMhz" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of CPU consumed in MHz.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PayGoVdcSummaryType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
            <xs:documentation source="since">ORG_VDC_ROLLUP</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the summary of consumed CPU, memory, and storage for a
                vDC using the AllocationVApp (Pay-as-you-Go) allocation model.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="MemoryConsumptionMB" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of memory consumed in MB.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CpuConsumptionMhz" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of CPU consumed in MHz.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StorageConsumptionMB" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The amount of storage consumed in MB.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

   <xs:element name="OrgVdcRollup" type="OrgVdcRollupType"/>
   <xs:complexType name="OrgVdcRollupType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="ORG_VDC_ROLLUP" />
                <meta:content-type>application/vnd.vmware.vcloud.orgVdcRollup</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">ORG_VDC_ROLLUP</xs:documentation>
            <xs:documentation xml:lang="en">
                Contains rolled-up summary information for all vDCs in this organization. If a
                multisite request is made for this summary information, it will contain combined
                summary information for the vDCs in this organization and any associated organizations.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="NumberOfOrgs" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The number of organizations used to create this summary.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NumberOfPoweredOnVms" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The number of powered on VMs in this organization.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NumberOfDeployedVApps" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The number of deployed vApps in this organization.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ReservationPoolVdcSummary" type="ReservationPoolVdcSummaryType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents the summation of consumed and reserved memory, CPU, and storage for all
                                vDCs using the Reservation Pool allocation model.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AllocationPoolVdcSummary" type="AllocationPoolVdcSummaryType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents the summation of consumed and reserved memory, CPU, and storage for a
                                all vDCs using the Allocation Pool allocation model.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PayGoVdcSummary" type="PayGoVdcSummaryType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="ORG_VDC_ROLLUP" /></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents the summation of consumed memory and storage for all
                                vDCs using the AllocationVApp (Pay-as-you-Go) allocation model.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
