java/api-schemas/extensibility-api-schemas/src/main/resources/schemas/external/objectExtensibility/extensibility-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  api-extension-template-vcloud-director
  Copyright 2017-2018 VMware, Inc.  All rights reserved
  SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema
    xmlns="http://www.vmware.com/vcloud/extensibility/v1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    xmlns:json="http://www.vmware.com/vcloud/plugin/json"
    jaxb:extensionBindingPrefixes="json"
    elementFormDefault="qualified"
    targetNamespace="http://www.vmware.com/vcloud/extensibility/v1.0"
    version="1.0">

    <xs:complexType name="ContextType">
        <xs:attribute name="type" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A string denoting the type of contextual information specified by this
                    element.  VCD entities like user, or organization, or VMs are examples
                    of context that can be provided.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="vcdId" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    The URL from which a representation of this entity can be retrieved using HTTP GET.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="vcId" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A URL of the form 'moref://{vc-server-uuid}/{object-type}#{moref}' that identifies
                    a vSphere resource.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ExtensibleObject">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Basic entity type in platform extensibility object model.
                Includes a name, and an optional description.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation source="modifiable">always</xs:documentation>
                    <xs:documentation xml:lang="en">
                        Optional description.
                    </xs:documentation>
                    <xs:documentation source="required">false</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation source="modifiable">always</xs:documentation>
                <xs:documentation xml:lang="en">
                    The name of the entity.
                </xs:documentation>
                <xs:documentation source="required">true</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="StorageContainer">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The target storage container where the object should be created.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="valRef" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A URL of the form 'moref://{vc-server-uuid}/{objectType}#{moref}'
                    that identifies either a vSphere datastore or storage pod on which
                    this object is to be placed.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:element name="ExtensionErrorMessage">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ExtensionErrorType" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ExtensionErrorType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Error Message type in platform extensibility object model.
            </xs:documentation>
        </xs:annotation>
                <xs:attribute name="message" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation source="modifiable">
                    none
                </xs:documentation>
                <xs:documentation xml:lang="en"> A one line,
                    human-readable message describing the error that occurred.
                </xs:documentation>
                <xs:documentation source="required">
                    true
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="majorErrorCode" type="xs:int"
            use="required">
            <xs:annotation>
                <xs:documentation source="modifiable">
                    none
                </xs:documentation>
                <xs:documentation xml:lang="en">
                    The class of the error. TODO Define list of error codes
                </xs:documentation>
                <xs:documentation source="required">
                    true
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="minorErrorCode" type="xs:string"
            use="optional">
            <xs:annotation>
                <xs:documentation source="modifiable">
                    none
                </xs:documentation>
                <xs:documentation xml:lang="en">
                    Resource-specific error code. TODO Define list of error codes
                </xs:documentation>
                <xs:documentation source="required">
                    true
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="vendorSpecificErrorCode" type="xs:string"
            use="optional">
            <xs:annotation>
                <xs:documentation source="modifiable">
                    none
                </xs:documentation>
                <xs:documentation xml:lang="en">
                    A vendor- or implementation-specific error code that can reference
                    specific modules or source lines for diagnostic purposes.
                </xs:documentation>
                <xs:documentation source="required">
                    false
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="errorStackTrace" type="xs:string"
            use="optional">
            <xs:annotation>
                <xs:documentation source="modifiable">
                    none
                </xs:documentation>
                <xs:documentation xml:lang="en">
                    The stack trace of the exception.
                </xs:documentation>
                <xs:documentation source="required">
                    false
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="DataType" abstract="true">
        <xs:annotation>
            <xs:appinfo>
                <json:jsonTypeInfo propertyName="type" />
            </xs:appinfo>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A base type for named extension data types.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="LongDataType">
        <xs:annotation>
            <xs:appinfo>
                <json:jsonSubTypeInfo name="long" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="DataType">
                <xs:attribute name="value" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:long">
                            <xs:minInclusive value="-1" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BooleanDataType">
        <xs:annotation>
            <xs:appinfo>
                <json:jsonSubTypeInfo name="boolean" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="DataType">
                <xs:attribute name="value" type="xs:boolean" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="StringDataType">
        <xs:annotation>
            <xs:appinfo>
                <json:jsonSubTypeInfo name="string" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="DataType">
                <xs:attribute name="value" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="StringArrayDataType">
        <xs:annotation>
            <xs:appinfo>
                <json:jsonSubTypeInfo name="list" />
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="DataType">
                <xs:sequence>
                    <xs:element name="values" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

     <xs:complexType name="LocalizableMessageType">
        <xs:sequence>
            <xs:element name="messageKey" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The key for the localizable message in VCD. This may also hold the message itself.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="origin" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The origin for the message. In VCD this hints at the path where the message
                        itself can be found. If message itself is provided, and not key, this may be null.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="data" type="StringDataType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Data to populate the message if message key is being provided.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
