java/api-schemas/rest-api-schemas/src/main/resources/etc/1.5/schemas/admin/event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
api-extension-template-vcloud-director
Copyright © 2013-2018 VMware, Inc. All rights reserved.
SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:meta="http://www.vmware.com/vcloud/meta"
           jaxb:version="2.0"
           jaxb:extensionBindingPrefixes="meta"
           elementFormDefault="qualified"
           targetNamespace="http://www.vmware.com/vcloud/v1.5"
           version="1.0">

    <xs:include schemaLocation="../vcloud/common.xsd"/>

    <xs:complexType name="EventPropertiesType">
        <xs:annotation>
            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                List of event-specific properties.
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="EventProperty" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Property name.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="value" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Property value.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Event" type="EventType"/>
    <xs:complexType name="EventType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.admin.event</meta:content-type>
            </xs:appinfo>
            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Parameters for creating an event.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Owner" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="since">5.1</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to the owner of the event.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="User" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="since">5.1</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to the user for which the event was created.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EventProperties" type="EventPropertiesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                                List of event-specific properties.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="type" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="since">5.1</xs:documentation>
                        <xs:documentation source="modifiable">create</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                            A string identifying the type of the event. Length must be
                            between 1 and 128 characters. Cannot start with
                            com/vmware/vcloud.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="serviceNamespace" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="since">5.1</xs:documentation>
                        <xs:documentation source="modifiable">create</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                           Identifier of the external service that posted the
                           event. Length must be between 1 and 128 characters.
                           Cannot start with com.vmware.vcloud.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="success" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="since">5.1</xs:documentation>
                        <xs:documentation source="modifiable">create</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                            True if the event represents a successful operation.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="typeFull" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="since">5.1</xs:documentation>
                        <xs:documentation source="modifiable">create</xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                        <xs:documentation xml:lang="en">
                            A message describing the event. Length must be
                            between 0 and 2000 characters.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="AuditEvent" type="AuditEventType" />

    <xs:complexType name="AuditEventType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.6"/>
                <meta:content-type>application/vnd.vmware.vcloud.admin.auditEvent</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.6</xs:documentation>
            <xs:documentation xml:lang="en">
                Audit event
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="Org" type="ReferenceType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to the organization to which the event was posted.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Owner" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to the owner of the event.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="User" type="ReferenceType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to the user for which the event was created.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Details" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                            <xs:documentation source="since">5.6</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Event properties in JSON format.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>                   
                </xs:sequence>
                <xs:attribute name="eventType" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                        <xs:documentation source="since">5.6</xs:documentation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                            A string identifying the type of the event.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="serviceNamespace" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                        <xs:documentation source="since">5.6</xs:documentation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                           Identifier of the external service that posted the
                           event or 'com.vmware.vcloud' for internal events.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="timeStamp" type="xs:dateTime" use="required">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                        <xs:documentation source="since">5.6</xs:documentation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                           Timestamp of the event.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="success" type="xs:boolean" use="required">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.6"/></xs:appinfo>
                        <xs:documentation source="since">5.6</xs:documentation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                        <xs:documentation xml:lang="en">
                            True if the event represents a successful operation. False otherwise.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>

    </xs:complexType>

</xs:schema>
