java/api-schemas/rest-api-schemas/src/main/resources/etc/1.5/schemas/admin/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
api-extension-template-vcloud-director
Copyright © 2013-2018 VMware, Inc. All rights reserved.
SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:meta="http://www.vmware.com/vcloud/meta"
           jaxb:version="2.0"
           jaxb:extensionBindingPrefixes="meta"
           elementFormDefault="qualified"
           targetNamespace="http://www.vmware.com/vcloud/v1.5"
           version="1.0">

    <xs:include schemaLocation="../vcloud/entity.xsd"/>

    <xs:element name="User" type="UserType"/>
    <xs:complexType name="UserType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.admin.user</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a local or imported user.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="FullName" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Full name of the user.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EmailAddress" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Email address of the user.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Telephone" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Telephone number of the user.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the user is enabled and can log in.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsLocked" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the user account has been locked due to
                                too many invalid login attempts. A locked user account can be
                                re-enabled by updating the user with this flag set to false.
                                Only the system can set the value to true.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IM" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                User's instant messaging address.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NameInSource" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                User name as retrieved from, and in the
                                encoding used by, the specified identity
                                provider.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsAlertEnabled" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                This field is unused and is deprecated.
                                (True if alerts are enabled for the user.)
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation source="deprecated">6.0</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AlertEmailPrefix" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                This field is unused and is deprecated.
                                (String to prepend to alert message Subject line.)
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation source="deprecated">6.0</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AlertEmail" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                This field is unused and is deprecated.
                                (True if this user should get alert email.)
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation source="deprecated">6.0</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsExternal" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                On creation, specifies whether this user should
                                be imported from the organization's LDAP
                                service or created locally. Ignored if
                                ProviderType is SAML or OAUTH. On retrieval,
                                indicates whether the user is local or
                                imported.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ProviderType" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="5.1"/>
                            </xs:appinfo>
                            <xs:documentation source="since">5.1</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Identity provider type for this this user. One of:&lt;br&gt;
                                &lt;b&gt;INTEGRATED&lt;/b&gt; (The user is
                                created locally or imported from LDAP.)&lt;br&gt;
                                &lt;b&gt;SAML&lt;/b&gt; (The user is imported
                                from a SAML identity provider.)&lt;br&gt;
                                &lt;b&gt;OAUTH&lt;/b&gt; (The user is imported
                                from an OAUTH identity provider.)&lt;br&gt;
                                If missing or empty the default value is
                                &lt;b&gt;INTEGRATED&lt;/b&gt;.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsDefaultCached" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                This field is unused and is deprecated.
                                (True if this user is cached by default.)
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation source="deprecated">6.0</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsGroupRole" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this user has a group role.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StoredVmQuota" type="xs:int" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Quota of vApps that this user can store. A value of
                                0 specifies an unlimited quota.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DeployedVmQuota" type="xs:int" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Quota of vApps that this user can deploy concurrently.
                                A value of 0 specifies an unlimited quota.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Role" type="ReferenceType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to the user's role. When you are
                                creating a User, the request body must contain
                                exactly one Role element. If the Role element
                                is empty when retrieved,the user inherits a role
                                from the group.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Password" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The user's password. This value is never returned by
                                GET. It is inspected on create and modify. On modify,
                                the absence of this element indicates that the password
                                should not be changed.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupReferences" type="GroupsListType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for references to groups of which
                                this user is a member.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Group" type="GroupType"/>
    <xs:complexType name="GroupType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.admin.group</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a group in this organization.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="NameInSource" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Group name as retrieved from, and in the
                                encoding used by, the specified identity provider.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UsersList" type="UsersListType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for references to users in the group.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ProviderType" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="5.1"/>
                            </xs:appinfo>
                            <xs:documentation source="since">5.1</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Identity provider type for this this group.
                                One of:&lt;br&gt;
                                &lt;b&gt;INTEGRATED&lt;/b&gt; (The group is
                                imported from LDAP.)&lt;br&gt;
                                &lt;b&gt;SAML&lt;/b&gt; (The group is imported
                                from a SAML identity provider.)&lt;br&gt;
                                If missing or empty the default value is
                                &lt;b&gt;INTEGRATED&lt;/b&gt;.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Role" type="ReferenceType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The default role for users in this group.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UsersListType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for references to users.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="UserReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to a user.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GroupsListType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for references to groups.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="GroupReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to a group.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Right" type="RightType"/>
    <xs:complexType name="RightType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.admin.right</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a right.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="Category" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Assigns a category to the right.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BundleKey" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="since">5.1</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Key used for name localization.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ServiceNamespace" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="since">5.1</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Namespace of the external service that created the right.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RightReferencesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for references to rights.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="RightReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to a right.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Role" type="RoleType"/>
    <xs:complexType name="RoleType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.admin.role</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                A named collection of rights.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="RightReferences" type="RightReferencesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for references to the rights
                                assigned to this role.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleReferencesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for references to roles.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="RoleReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to a role.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
