java/api-schemas/rest-api-schemas/src/main/resources/etc/1.5/schemas/extension/services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    api-extension-template-vcloud-director
    Copyright © 2013-2018 VMware, Inc. All rights reserved.
    SPDX-License-Identifier: BSD-2-Clause
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/extension/v1.5" xmlns:vcloud="http://www.vmware.com/vcloud/v1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:meta="http://www.vmware.com/vcloud/meta" jaxb:version="2.0" jaxb:extensionBindingPrefixes="meta"
    elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/extension/v1.5" version="1.0">

    <xs:import namespace="http://www.vmware.com/vcloud/v1.5" schemaLocation="../master/master.xsd" />

    <xs:include schemaLocation="notification.xsd" />
    <xs:include schemaLocation="settings.xsd" />
    <xs:include schemaLocation="taskExtensionRequest.xsd" />

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for VMware vCloud API extension services.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="ExtensionServices" type="ExtensionServicesType" />
    <xs:complexType name="ExtensionServicesType">
         <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.extensionServices</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                List of references to registered extension services.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Service" type="AdminServiceType" />
    <xs:complexType name="AdminServiceType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.service</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an extension service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:EntityType">
                <xs:sequence>
                    <xs:element name="Namespace" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">create</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Extension service namespace. Must be unique
                                among all registered services.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Enabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this extension service is enabled.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AuthorizationEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this service participates in the vCloud API REST
                                authorization framework for extension services.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RoutingKey" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                AMQP routing key for this extension service.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Priority" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Extension service priority. An integer between 0-100.
                                A value of 50 denotes a neutral priority.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Exchange" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                AMQP exchange that messages for this extension
                                service are published to.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Vendor" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Extension service vendor name.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ApiFilters" type="ApiFiltersType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Container for API filters defined by an
                               extension service.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ServiceLinks" type="AdminServiceLinksType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Container for values used to create links defined
                               by an extension service.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ApiDefinitions" type="AdminApiDefinitionsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Container for values used to specify an API
                               defined by an extension service.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ResourceClasses" type="ResourceClassesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Container for values that define extension
                               service resource classes.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ApiFilter" type="ApiFilterType" />
    <xs:complexType name="ApiFilterType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.apiFilter</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an extension service API filter as a UrlPattern
                or a ResponseContentType.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:IdentifiableResourceType">
                <xs:sequence>
                    <xs:element name="UrlPattern" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                               <xs:documentation xml:lang="en">
                                  Request URL pattern, written as a regular
                                  expression pattern recognized by
                                  java.util.regex.Pattern. Requests matching
                                  the pattern are sent to this extension
                                  service. Element content cannot exceed 1024
                                  characters. UrlPattern is mutually exclusive
                                  with ResponseContentType.
                               </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ResponseContentType" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Response Content-Type, expressed as a MIME
                                Content-Type string. Responses whose
                                Content-Type attribute has a value that matches
                                this string are routed to the service.
                                ResponseContentType is mutually exclusive with
                                UrlPattern.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ApiFilters" type="ApiFiltersType" />
    <xs:complexType name="ApiFiltersType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.apiFilters</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for extension service API filters.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ApiFilter" type="ApiFilterType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents an extension service API filter.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ApiDefinition" type="AdminApiDefinitionType"/>
    <xs:complexType name="AdminApiDefinitionType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.apiDefinition</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an extension service API definition.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:EntityType">
                <xs:sequence>
                    <xs:element name="EntryPoint" type="xs:string" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    The URL to which a client can send requests
                                    to this extension service API. URL string
                                    must be &lt;=255 characters. Can include the
                                    variable {baseUri}, which represents the
                                    vCloud Director REST API base URL.
                                </xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="Namespace" type="xs:string" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                                <xs:documentation xml:lang="en">
                                   The namespace of this external service API
                                   definition. Must be &lt;=255 characters.
                                </xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="ApiVendor" type="xs:string" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    The name of the external service API vendor.
                                    Not required to be the same as the vendor
                                    of the external service this API definition
                                    is associated with. Must be &lt;=255
                                    characters.
                                </xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="SupportedApiVersions" type="VersionsType" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Supported extension service API versions.
                                </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="Files" type="AdminFileDescriptorsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                List of files associated with this extension
                                service API definition.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ApiDefinitions" type="AdminApiDefinitionsType" />
    <xs:complexType name="AdminApiDefinitionsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.apiDefinitions</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of extension service API definitions.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ApiDefinition" type="AdminApiDefinitionType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents a single extension service API
                                definition.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VersionsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of extension service API versions.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Version" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents a single extension service API
                                version.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="FileDescriptor" type="AdminFileDescriptorType" />
    <xs:complexType name="AdminFileDescriptorType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.fileDescriptor</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an extension service API definition file.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:IdentifiableResourceType">
                <xs:sequence>
                    <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Description of this extension service API
                                definition file.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="File" type="vcloud:ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to this extension service API
                                definition file.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AdminFileDescriptorsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
               A list of extension service API definition file descriptors.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="FileDescriptor" type="AdminFileDescriptorType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                 Represents an extension service API definition file.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ServiceLink" type="AdminServiceLinkType" />
    <xs:complexType name="AdminServiceLinkType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.serviceLink</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a service link defined by an extension service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:IdentifiableResourceType">
                <xs:sequence>
                    <xs:element name="LinkHref" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The value of href attribute of this service Link.
                                Can be any URI, and can include the variables
                                {baseUri} and {resourceId}. When constructing
                                the href value of the Link, vCloud Director
                                replaces {baseUri} with the vCloud Director
                                REST API base URL, and replaces {resourceId}
                                with the UUID portion of the id attribute value
                                of the resource in which the Link is inserted.
                                Must be &lt;=255 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MimeType" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The value, specified as a MIME content type, of
                                the type attribute of the Link. Must be
                                &lt;=255 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Rel" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The value of the rel attribute of the Link.
                                Must be &lt;=255 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ResourceType" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The object type, specified as a MIME content
                                type, of the object in which the Link appears.
                                Must be &lt;=255 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                     <xs:element name="ResourceId" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                               The id of the resource in which this Link
                               appears. The resource must be of the type
                               specified in ResourceType. If this element is
                               missing or empty, the Link appears in all
                               resources of the specified type. Must be
                               &lt;=255 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalResourceId" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="6.0"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                               The id of an external resource managed by an
                               extension.  The value of this element will appear
                               as the id attribute of the Link element.
                               Must be &lt;=255 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>             
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ServiceLinks" type="AdminServiceLinksType" />
    <xs:complexType name="AdminServiceLinksType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                A list of service links for extension services.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ServiceLink" type="AdminServiceLinkType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents a service link defined by an
                                extension service.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="BundleUploadParams" type="BundleUploadParamsType" />
    <xs:complexType name="BundleUploadParamsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.bundleUploadParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Parameters for initializing an upload session for an extension
                service localization bundle.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:attribute name="fileSize" type="xs:long" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">create</xs:documentation>
                        <xs:documentation xml:lang="en">
                           Size in bytes of the extension service localization
                           bundle that will be uploaded.
                        </xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="serviceNamespace" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">create</xs:documentation>
                        <xs:documentation xml:lang="en">
                           The service namespace to which this extension
                           service localization bundle applies.
                        </xs:documentation>
                        <xs:documentation source="required">true</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="BundleUploadSocket" type="BundleUploadSocketType" />
    <xs:complexType name="BundleUploadSocketType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.bundleUploadSocket</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Upload information for an extension service localization bundle.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:attribute name="uploadLocation" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                           Upload URL for an extension service localization bundle.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AclAccessType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.aclAccess</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an access type in an extension service ACL rule.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Access" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The access type. One of:&lt;br&gt;
                                Entity&lt;br&gt;
                                Shared&lt;br&gt;
                                Published.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Entity" type="vcloud:ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Required when Access value is Entity. Contains
                                a reference to the entity for which the action
                                is authorized.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AclRule" type="AclRuleType"/>
    <xs:complexType name="AclRuleType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.aclRule</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an extension service ACL rule.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="vcloud:EntityType">
                <xs:sequence>
                    <xs:element name="ServiceResourceAccess" type="AclAccessType" minOccurs="0" maxOccurs="1">
                       <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies service resource access. One of:&lt;br&gt;
                                Entity -- The action is authorized for the
                                resource referenced in the Entity element in
                                this container.&lt;br&gt;
                                Shared -- The action is authorized for all
                                resources in this resource class.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OrganizationAccess" type="AclAccessType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies organization access. One of:&lt;br&gt;
                                Entity -- The action is authorized for the
                                organization referenced in the Entity element in
                                this container.&lt;br&gt;
                                Shared -- The action is authorized for all
                                members of the organization that owns the
                                resource.&lt;br&gt;
                                Published -- The action is authorized for all
                                members of any organization in the cloud.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PrincipalAccess" type="AclAccessType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Specifies principal access. One of:&lt;br&gt;
                               Entity -- The action is authorized for the User
                               referenced in the Entity element in this
                               container, or for any role that includes the
                               Right referenced in the Entity element in this
                               container.&lt;br&gt;
                               Shared -- The action is authorized for all users.
                           </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ResourceClassAction" type="ResourceClassActionType" />
    <xs:complexType name="ResourceClassActionType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.resourceClassAction</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines the HTTP methods allowed on a URL pattern
                associated with an extension service resource class.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:EntityType">
                <xs:sequence>
                    <xs:element name="HttpMethod" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                HTTP method, one of: GET, PUT, POST, DELETE.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UrlPattern" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                               The relative URL of the resource as a
                               named regular expression where (?&amp;ltid&amp;gt)
                               matches the resource identifier.
                               For example:&lt;br&gt;
                               /backup/restore&lt;br&gt;
                               /backup/restore/(?&amp;ltid&amp;gt[-,a-g,0-9]*)&lt;br&gt;
                               Must be &lt;=1024 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AclRules" type="AclRulesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Container for values used to create ACL rules
                               for an extension service resource class action.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ResourceClass" type="ResourceClassType" />
    <xs:complexType name="ResourceClassType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.resourceClass</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a resource class defined by an external service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:EntityType">
                <xs:sequence>
                    <xs:element name="MimeType" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The MIME type for extension service resources
                                of this resource class. Must be &lt;=128
                                characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UrlTemplate" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                               A template for constructing the href attribute
                               value for resources of this class. Can be any
                               URI, and can include the variables {baseUri} and
                               {resourceId}. When constructing the href value,
                               vCloud Director replaces {baseUri} with the
                               vCloud Director REST API base URL, and replaces
                               {resourceId} the UUID portion of the resource
                               id. Must be &lt;=1024 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Nid" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                               The Namespace Identifier for resources of this
                               type, as specified in RFC2141. Must be &lt;=255
                               characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UrnPattern" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                               The Namespace Specific String for resources of
                               this type, as specified in RFC2141. Can be a
                               string or a named regular expression, where
                               (?&amp;ltid&amp;gt) matches the resource identifier.
                               Must be &lt;=255 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ServiceResources" type="ServiceResourcesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Container for values used to create service
                               resources defined by this extension service.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ResourceClassActions" type="ResourceClassActionsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Container for values used to create resource
                               class actions defined for this resource class.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ServiceResource" type="ServiceResourceType" />
    <xs:complexType name="ServiceResourceType">
         <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.serviceResource</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an instance of resource class defined by an
                extension service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:EntityType">
                <xs:sequence>
                    <xs:element name="Org" type="vcloud:ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Organization that this extension service resource
                                belongs to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalObjectId" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Object identifier for this extension
                                service resource. Must be &lt;=255 characters.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ResourceClassesType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                A list of resource classes defined by an extension service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ResourceClass" type="ResourceClassType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents a resource class defined by an
                                extension service.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ServiceResourcesType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                A list of extension service resources.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ServiceResource" type="ServiceResourceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents an extension service resource.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ResourceClassActionsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                A list of extension service resource class actions.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ResourceClassAction" type="ResourceClassActionType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents an extension service resource class action.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AclRulesType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                A list of extension service resource class action ACL rules.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="AclRule" type="AclRuleType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents an extension service resource class
                                action ACL rule.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AuthorizationCheckParams" type="AuthorizationCheckParamsType" />
    <xs:complexType name="AuthorizationCheckParamsType">
         <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.authorizationCheckParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Parameters for an authorization check request.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="User" type="vcloud:ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The user for which an authorization check is requested.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="HttpMethod" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                 One of: GET, PUT, POST, DELETE
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="URL" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The relative URL which is to be checked.
                                Examples: /backup/restore, /backup/restore/{id}, /api/admin/org/{id}.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AuthorizationCheckResponse" type="AuthorizationCheckResponseType" />
    <xs:complexType name="AuthorizationCheckResponseType">
         <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.admin.authorizationCheckResponse</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Response to an authorization check request.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsAuthorized" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the referenced user is authorized to make the specified
                                HTTP request to the specified URL.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
